<div class="col-md-4">
  <div class="box box-widget widget-user-2 min-height-300">
    <div class="widget-user-header bg-yellow min-height-150">
      <div class="widget-user-image">
        <%= image_tag(course_management.course.thumbnail.url, size: Settings.thumbnail_size, alt: course_management.course.name) if course_management.course.thumbnail? %>
      </div>
      <h3 class="widget-user-username"><%= course_management.course.name %></h3>
      <h5 class="widget-user-desc"><%= course_management.course.user.full_name %></h5>
    </div>
    <div class="box-footer no-padding">
      <ul class="nav nav-stacked">
        <li>
          <span><button class="btn btn-success"><%= t(".subject") %></button> </span>
          <span class="pull-right badge bg-blue"><%= course_management.course.subjects.size %></span>
        </li>
        <li><%= link_to t(".view_detail"), course_management_path(course_management), class: "btn bg-teal color-palette" %></li>
      </ul>
    </div>
  </div>
</div>
