<% @course_closes.each do |course_close| -%>
  <div class="col-md-4">
    <div class="box box-widget widget-user-2 min-height-300">
      <div class="widget-user-header bg-yellow min-height-150">
        <div class="widget-user-image">
          <%= image_tag(course_close.thumbnail.url, size: Settings.thumbnail_size, alt: course_close.name) if course_close.thumbnail? %>
        </div>
        <h3 class="widget-user-username"><%= course_close.name %></h3>
        <h5 class="widget-user-desc"><%= course_close.user.full_name %></h5>
      </div>
      <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
          <li>
            <span><button class="btn btn-success"><%= t(".subject") %></button> </span>
            <span class="pull-right badge bg-blue"><%= course_close.subjects.size %></span>
          </li>
          <li>
            <%= link_to t(".view_detail"), course_management_path(course_close), class: "btn bg-teal color-palette" %>
          </li>
          <li>
            <%= link_to t(".join_course"), course_management_path(course_close), method: :post, class: "btn bg-teal color-palette", data: { confirm: t(".confirm") } %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
