<div class="container-fluid">
  <div class="row justify-content-center">
    <section class="content">
      <div class="row">
        <div class="col-md-9">
          <div class="box box-widget widget-user-2 min-height-300">
              <div class="widget-user-header bg-yellow min-height-150">
                <div class="widget-user-image">
                  <%= image_tag(@course.thumbnail.url, size: Settings.thumbnail_size, alt: @course.name) if @course.thumbnail? %>
                </div>
                <h3 class="widget-user-username"><%= @course.name %></h3>
                <h5 class="widget-user-desc"><%= @course.user.full_name %></h5>
              </div>
              <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                  <li>
                    <span><h3><%= t(".subject") %></h3></span>
                    <span class="pull-right badge bg-blue"><%= @course.subjects.size %></span>
                  </li>
                </ul>
                <ul class="nav nav-stacked">
                  <% @course.subjects.each do |subject| %>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="box box-widget widget-user-2 bg-light-blue" >
                            <div class="widget-user-header bg-light-blue">
                              <div class="widget-user-image">
                                <%= image_tag(subject.thumbnail.url, size: Settings.thumbnail_size, alt: subject.name) if subject.thumbnail? %>
                              </div>
                              <h3 class="widget-user-username"><%= subject.name %></h3>
                              <h5 class="widget-user-desc"><%= subject.full_name %></h5>
                            </div>
                          </div>
                      </div>
                    </div>
                  <% end %>
                </ul>
              </div>
            </div>
        </div>
        <div class="col-md-3">
          <div class="box box-primary">
            <ul><h3><%= t(".trainer") %></h3></ul>
            <% load_course_management(@course).each do |course_management| %>
              <ul class="list-group">
                <% if course_management.user.trainer? %>
                  <li class="list-group-item"> <%=course_management.full_name %> </li>
                <% end %>
              </ul>
            <% end %>
            <ul><h3><%= t(".traine") %></h3></ul>
            <% load_course_management_has_course_is_activited(@course).each do |course_management| %>
              <ul class="list-group">
                <% if course_management.user.traine?%>
                  <li class="list-group-item"> <%=course_management.full_name %> </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="box box-primary padding-10">
            <% if current_user.trainer? %>
              <%= form_for @course.course_managements.build, url: course_management_users_path, method: :post, class: "form-group" do |f| %>
                <%= f.select :user_id , load_user_is_traine(@course.id), class: "form-control" %>
                <%= f.hidden_field :course_id, value: @course.id %>
                <%= f.hidden_field :status, value: :activited %>
                <%= f.submit t(".add_traine"), class: "btn btn-primary"%>
              <% end %>
            <% end %>
          </div>
        </div>
    </section>
  </div>
</div>
