<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".logo"), admin_root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), admin_root_path %></li>
        <li><%= link_to t(".about"), "#" %></li>
        <li><%= link_to t(".course"), "#" %></li>
        <li><%= link_to t(".signup"), "#" %></li>
        <li><%= link_to t(".login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
